.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 10px 0;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.logo {
  width: 100px;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card {
  /* cardクラスを横に3つ並べ、card同士の幅を25pxにする */
  /* 親要素の幅から25pxのmargin×2を引いて、それを3で割った数 */
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  font-size: 24px;
  margin-bottom: 8px;
}
.card__summary {
  font-size: 18px;
}
.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}